@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

/* Arrows default */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

/* 📱 Mobile fix → push arrows to edges */
@media (max-width: 640px) {
  .swiper-button-prev {
    left: 0px !important;   /* move more left */
  }

  .swiper-button-next {
    right: 0px !important;  /* move more right */
  }
}