@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

/* Swiper navigation arrows */
.swiper-button-next,
.swiper-button-prev {
  color: white !important;

  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: transparent;
  border: 2px solid white;

  padding: 8px; 

  top: 55%;
  transform: translateY(-50%);
}


/* Arrow position (better spacing) */
.swiper-button-prev {
  left: 30px !important;
}

.swiper-button-next {
  right: 30px !important;
}

/* Pagination bullets  */
.about-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: white !important;
  opacity: 0.5;
}


/* Mobile adjustments */
@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 45px;
    height: 45px;
  }

  .swiper-button-prev {
    left: 15px !important;
  }

  .swiper-button-next {
    right: 15px !important;
  }
}